<h3 style="text-align:center;"> MACHINE LEARNING 1D PROJECT </h3>
<h4 style="text-align:center;"> Team Imagine Losing </h4>

<h5><i> Group Members:</i> </h5>
<ul>
  <li>Ann Mary Alen 1005382</li>
  <li>Emmanuel Lopez 1005400</li>
  <li>Fu Meihui 1004864</li>
  <li>Keshav Natarajan 1005495</li>
  <li>Xu Muzi 1005641</li>
</ul>

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier, NeighborhoodComponentsAnalysis
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, normalize, MinMaxScaler
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, accuracy_score, classification_report
from sklearn import svm

<h7>LOADING DATASETS</h7>

In [3]:
# Load Train Datasets
df_train=pd.read_csv('csv/train_tfidf_features.csv')
df_train

,id,label,0,1,2,3,4,5,6,7,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17179,17180,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17180,17181,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17181,17182,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17182,17183,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17183,17184,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Load Test Dataset
df_test=pd.read_csv('csv/test_tfidf_features.csv')
df_test

,id,0,1,2,3,4,5,6,7,8,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,17185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17189,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4291,21476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4292,21477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4293,21478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4294,21479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4295,21480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h7>DATA PREPROCESSING</h7>

In [5]:
# Data Reformatting

# Dropping columns 'id' and 'label' from dataframe df_train and assigning it to df_train_dropped
df_train_dropped=df_train.drop(['id','label'], axis=1); 
# Extracting labels from dataframe df_train and setting it to df_y
df_y=df_train['label']; 
# Dropping column 'id'from df_test dataframe
df_test_dropped = df_test.drop(['id'], axis=1);

In [6]:
# Transform X,X_ and y to numpy arrays
X = df_train_dropped.to_numpy()
y = df_y.to_numpy()
X_ = df_test_dropped.to_numpy()

In [7]:
# Displaying dataframe X
display(pd.DataFrame(X))

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Displaying dataframe y
display(pd.DataFrame(y))

       0
0      1
1      0
2      1
3      0
4      1
...   ..
17179  0
17180  0
17181  1
17182  1
17183  0

[17184 rows x 1 columns]

In [9]:
# Displaying dataframe X_
display(pd.DataFrame(X_))

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h3> TASK 1 </h3>

<i><h7> Problem Statement </h7></i>
<p> Online hate speech is a serious problem that undermines the cohesion of online social communities and potentially puts society's public safety at risk. Researchers have created numerous conventional machine learning and deep learning techniques to automatically detect hate speech on online social platforms in response to this growing problem.

In essence, the detection of online hate speech can be described as a text classification task: "Classify if the post is hateful or non-hateful given a social media post.In order to come up with the best machine learning model for hate speech classification performance, our group started off by implementing the most commonly used classification algorithm, Logistic Regression from scratch in Task 1.</p>

<i><h7> Functions Involved: </h7></i>

- **$sigmoid(z)$**: A function that takes in a real number input and returns an output value between 0 and 1.
<br/><br/>
- **$loss(y, \hat y)$**: A loss function of real $y$ value and our predicted $\hat y$ value for us to minimize in order to determine the optimal parameters.
<br/><br/>
- **$gradients(X, y, \hat y)$**: The Gradient Descent Algorithm to update and find the optimal value of parameters. The function takes in training feature $X$, actual labels y and the predicted labels $\hat y$, returning the partial derivative of the Loss function with respect to weights $(w)$ and bias $(b)$.
<br/><br/>
- **$train(X, y, bs, epochs, lr)$**: The training function that includes parameters initialization and training loop with mini-batch gradient descent.
<br/><br/>
- **$predict(X)$**: The prediction function where we apply our validation and test sets.

<i><h7> Sigmoid Function </h7></i>

Use the sigmoid function to squish the inputs between 0 and 1

$$ σ(z) =  \frac {1} {1+{e}^{-z}} $$

In Logistic Regression, since $ \hat y = wx + b$, our hypothsis will become 
$$ \hat y = \frac {1} {1+{e}^{-(wx+b)}} $$

In [11]:
# sigmoid function
def sigmoid(z):
    return 1/(1+np.exp(-z))

<i><h7> Loss Function </h7></i><br></br>
The loss function computes the distance between the real value and our prediction and evaluates the performance of the model. <br/>
In order to obtain the optimal parameters $w$ and $b$ for the best prediction, we have to minimize the loss function.
The Loss function we use here is the Log Loss Function as shown below (L here refers to the cost for ith training set)
$$ Loss(w,b) = \frac {1}{m} \sum_{i=1}^{m} L({\hat y}^{(i)}, {y}^{(i)}) = -\frac {1}{m} \sum_{i=1}^{m} {y}^{(i)}log(\hat{y}^{(i)})-(1-{y}^{(i)})log(1-\hat{y}^{(i)}) $$
>

In [12]:
#loss function
def loss(y, y_hat):
    loss = -np.mean(y*(np.log(y_hat)) - (1-y)*np.log(1-y_hat))
    return loss

<i><h7>Gradient Descent Algorithm</h7></i><br></br>
Gradient Descent Algorothm is an iterative first-order optimization algorithm that we use to find the local optimal values for our parameters ($w$, $b$) in the loss function(lr refers to learning rate)
$$w = w - lr \cdot dw $$
$$b = b - lr \cdot db $$

In [13]:
def gradients(X, y, y_hat):
    #dw: weight, bias: db
    n = X.shape[0]
    dw = (1/n) * np.dot(X.T, (y_hat-y))
    db = (1/n) * np.sum((y_hat-y))
    return dw, db

<i><h7>Train Function</h7></i><br></br>
The <i>train</i> function includes initializing the $w$ (weights) and $b$(bias) and the training loop with mini-batch gradient descent.

In [14]:
def train(X, y, bs, epochs, lr):
    theta = np.zeros((X.shape[1],1),dtype=float)
    theta_0 = 0
    
    losses = []
    for _ in range(epochs):
        for i in range(((X.shape[0]-1)//bs) + 1):
            # Batching
            X_batch = X[i*bs : i*bs + bs]
            y_batch = y[i*bs : i*bs + bs].reshape((-1,1))
            
            # Prediction
            y_hat_batch = sigmoid(np.dot(X_batch, theta) + theta_0).reshape((-1,1))
            
            # Gradients
            delta_theta, delta_theta_0 = gradients(X_batch, y_batch, y_hat_batch)
            
            # Update
            theta -= lr * delta_theta
            theta_0 -= lr * delta_theta_0
        
        # Calculate loss for current epoch
        losses.append(loss(y, sigmoid(np.dot(X, theta) + theta_0)))
        
    return theta, theta_0, losses

<i><h7> Predict Function</h7></i><br></br>
We get the prediction values using this function to get prepared for the comparison in the next function accuracy.

In [15]:
def predict(X, theta, theta_0):
    y_hat = sigmoid(np.dot(X, theta) + theta_0)

    return np.array([1 if h >= 0.5 else 0 for h in y_hat])

<i><h7> Accuracy </h7></i><br></br>
We compare the $y$ values with our predicted $\hat y$ values and check in how mamy examples did we get the correct output, returning the accuracy as the mearsurement of our model's perfomance.

In [17]:
def accuracy(y, y_hat):
    accuracy = np.sum(y == y_hat) / len(y)
    return accuracy

We now implement all our functions written above on the training and testing dataset and return the ouput CSV file as well as our accuracy.

In [19]:
# Main code here
np_train_set = train_set.to_numpy()
np_test_set = test_set.to_numpy()[:,1:]

X = np_train_set[:, 2:]
y = np_train_set[:, 1]

theta, theta_0, losses = train(X[:16000, :], y[:16000], 10, 10, 0.01)

y_hat = predict(np_test_set, theta, theta_0)

pd.DataFrame(y_hat)

KeyboardInterrupt:

In [ ]:
out = pd.DataFrame(y_hat).set_index(test_set["id"])
pd.DataFrame(np.append(theta, [[theta_0]], axis=0)).to_csv("predictors.csv")
out.to_csv("output.csv")

In [ ]:
print(accuracy(y[16000:], predict(X[16000:,:], theta, theta_0)))

<h4> TASK 2 </h4>

Dimension reduction is the transformation of data from a high-dimensional space into a low-dimensional space so that the low-dimensional representation retains some meaningful properties of the original data.<br>

<i><b><h7>Dimensionality Reduction with Neighborhood Components Analysis</h7></b></i><br></br>
In this task, we applied PCA, a well-known unsupervised dimensionality reduction technique to represent our multivariate data table as a smaller set of variables in order to observe trends, jumps, clusters and outliers. By doing so, we were able to reduce our training data containing 5000 TD-IDF features to 2000, 1000, 500 and 100 components and then applied it to the sklearn KNN machine learning model to obtain meangingful results.<br></br>

<h7>DATA PREPROCESSING</h7>

In addition to the data preprocessing we performed earlier, a few additional steps must be performed before implementing PCA to get the most optimum results.

In [10]:
# As the same random feature set must apply to the train and test datasets after reduction by PCA, we must first concat the two to get any meaningful results.
# Printing the shapes of dataframes df_train_dropped and df_test_column to know the total number of rows that we will have after combining the two.
print(df_train_dropped.shape)
print(df_test_dropped.shape)
# Concating preprocessed dataframes df_train_dropped and df_test_dropped.
df_X_PCA=pd.concat([df_train_dropped,df_test_dropped]);
# Printing out the results to make sure we have a new shape of (21480, 5000).
print(df_X_PCA.shape)

# Transform X and y to numpy arrays.
X=df_X_PCA.to_numpy()
y=df_y.to_numpy()

#  Since PCA performs best with a normalized feature set, we must first perform normalization to normalize our feature set.
X = normalize(X,axis=1)
X

(17184, 5000)
(4296, 5000)
(21480, 5000)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

We perform PCA as follows:
<ol type="1">
<li> Initialize the PCA class by passing the number of components to the constructor. </li>
<li> Call the fit and then transform methods by passing the feature set to these methods. The transform method returns the specified number of principal components. </li>
</ol>

In [15]:
# Reducing dimensionality of our combined dataset from 5000 features to 500 features using PCA.
pca = PCA(n_components=2000)
X_embedded = pca.fit_transform(X)
pd.DataFrame(X_embedded)

# We now split our combined dataset back to the training and test datasets.
X_embedded_train = X_embedded[:17184]
X_embedded_test = X_embedded[17184:]

<b><h7>KNN Machine Learning Model</h7></b><br></br>

We apply the KNN model as follows:
<ol type="1">
<li> Split the dataset to the training and testing dataset. </li>
<li> Initialise K to 2 neighbors. </li>
<li> Fit the datapoints to the nearest classifier to train the model.</li>
<li> Compute the accuracy of the test results. </li>
</ol>

In [19]:
# Perform train_test_split on the dataset
X_train, X_test, y_train, y_test = train_test_split(
    X_embedded_train, y, test_size=0.5, stratify=y, random_state=0
)

n_neighbours=2
# Use the nearest neighbor classifier to evaluate the methods with k=2
knn = KNeighborsClassifier(n_neighbors=n_neighbours)
# Fit the nearest neighbor classifier on the training set
knn.fit(X_train, y_train)
y_preds=knn.predict(X_test)

print(f1_score(y_test, y_preds, average='macro'))
print(accuracy_score(y_test, y_preds))

output = pd.DataFrame(knn.predict(X_embedded_test)).set_index(df_test["id"])
output
output.to_csv("outputPCA.csv")

0.5073323421714979
0.5073324022346368

Similarly, by repeating the same process for n_components= 1000, 500 and 100, we get the below results

<ul>
<li> 100 components - 64%</li>
<li> 500 components - 64% </li>
<li> 1000 components - 60%</li>
<li> 2000 components - 51%</li>
</ul>

<h4> TASK 3 </h4>

<p> In addition to the Logistic Regression and KNN machine learning models that we implemented as part of Task 1 and Task 2, we also iterated through five other models, optimizing for hyperparameters along the way namely:</p>
<ul>
<li> SVM Classifier</li>
<li> RandomForest Classifier</li>
<li> GradientBossting Classifier</li>
<li> ExtraTrees Classifier</li>
<li> XGBoost</li>
</ul>

All models were primarily evaluated on the Macro F1 score metric to determine which model performed best. Out of all the models evaluated with optimized hyperparameters, the Extra Trees classifier performed the best, with a F1_macro score of 72.020% followed by linear SVM with a F1_macro score of 70.284%.

In [20]:
# Normalize the feature data
X = normalize(X,axis=1)
X_ = normalize(X_,axis=1)

In [19]:
# Train_test_split data with PCA (dimensionality reduction) to reduce code running time for initial model performance selection

pca = PCA(n_components = 500)
X_embedded = pca.fit_transform(X)
X_embedded_test = pca.transform(X_)

X_train_PCA, X_test_PCA, y_train_PCA, y_test_PCA = train_test_split(
    X_embedded, y, test_size=0.2, stratify=y, random_state=0
)

In [ ]:
# Train_test_split data for initial model performance selection

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=0
)

<b><h7>MODEL: GradientBoostingClassifier Pipeline</h7></b>

In [ ]:
scaler = StandardScaler()
pca = PCA()
gbc = GradientBoostingClassifier(random_state=0)

model = Pipeline(steps=[("scaler", scaler), ("pca", pca), ("gbc", gbc)])

<i><h7>Hyperparameter Tuning with GridSearchCV</h7></i>

In [ ]:
# Parameters checked
param_grid = {
    "pca__n_components": [100, 500, 1000, 2000],
    "gbc__n_estimators": [50,100,200],
    "gbc__learning_rate": [1,0.1,0.01],
    "gbc__max_depth": [1,2,3]
}

In [ ]:
clf = GridSearchCV(model, param_grid, n_jobs=-1)
clf.fit(X_train, y_train)

<i><h7>Scoring</h7></i>

In [ ]:
y_preds = clf.predict(X_test)
print("F1 Macro Score:",f1_score(y_test, y_preds, average='macro'))
print("Accuracy Score:",accuracy_score(y_test, y_preds))

<h7><i>Best Classifier</i></h7><br>
<ul>
<li>gbc__learning_rate: 0.1</li>
<li>gbc__max_depth: 3</li>
<li>gbc__n_estimators: 200</li>
<li>pca__n_components: 2000</li>
</ul>

<i><h7>Training</h7><i>

In [ ]:
scaler = StandardScaler()
pca = PCA(n_components=2000)
gbc = GradientBoostingClassifier(n_estimators=200, learning_rate=0.1, max_depth=3, random_state=0)

model = Pipeline(steps=[("scaler", scaler), ("pca", pca), ("gbc", gbc)]).fit(X, y)

<i><h7>Predictions</h7></i>

In [ ]:
output = pd.DataFrame(clf.predict(X_)).set_index(df_test["id"])
output
# output.to_csv("output_GBC.csv")

<b><h7>MODEL: ExtraTreesClassifier</h7></b>

In [ ]:
model = ExtraTreesClassifier(n_jobs=-1, random_state=0)

<i><h7>Hyperparameter Tuning with RandomizedSearchCV</h7></i>

In [ ]:
# Parameters checked
params_grid = {
    'n_estimators':[100, 200, 300, 400, 500],
    'criterion': ['gini', 'log_loss', 'entropy'],
    'bootstrap': [True, False],
    'max_features': ['log2', 'sqrt'],
    'min_samples_leaf': [1, 2, 4],
    'min_samples_split': [2, 5, 10],
}

In [ ]:
clf = RandomizedSearchCV(model, params_grid, cv=3, n_iter=100, n_jobs=-1, scoring='f1_macro')
clf.fit(X_train, y_train)

<i><h7>Scoring</h7></i>

In [ ]:
y_preds = clf.predict(X_test)
print("F1 Macro Score:",f1_score(y_test, y_preds, average='macro'))
print("Accuracy Score:",accuracy_score(y_test, y_preds))

<h7><i>Best Classifier</i></h7><br>
<ul>
<li>n_estimators: 500</li>
<li>min_samples_split: 10</li>
<li>min_samples_leaf: 1</li>
<li>max_features: 'sqrt'</li>
<li>criterion:'entropy'</li>
<li>bootstrap: False</li>
</ul>

<i><h7>Training</h7></i>

In [ ]:
model = ExtraTreesClassifier(
    n_estimators=500, 
    min_samples_split=10, 
    min_samples_leaf=1, 
    max_features='sqrt', 
    criterion='entropy', 
    bootstrap=False,
    n_jobs=3,
    random_state=0
).fit(X, y)

<i><h7>Predictions</h7></i>

In [ ]:
output = pd.DataFrame(clf.predict(X_)).set_index(df_test["id"])
output
output.to_csv("output_ETC.csv")