<h3 style="text-align:center;"> MACHINE LEARNING 1D PROJECT </h3>
<h4 style="text-align:center;"> Team Imagine Losing </h4>

<h5><i> Group Members:</i> </h5>
<ul>
  <li>Ann Mary Alen 1005382</li>
  <li>Emmanuel Lopez 1005400</li>
  <li>Fu Meihui 1004864</li>
  <li>Keshav Natarajan 1005495</li>
  <li>Xu Muzi 1005641</li>
</ul>
5

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier, NeighborhoodComponentsAnalysis
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, normalize, MinMaxScaler
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, accuracy_score, classification_report
from sklearn import svm

<h4>Data Preprocessing</h4>

In [14]:
# Load Train Datasets
df_train=pd.read_csv('csv/train_tfidf_features.csv')
df_train

,id,label,0,1,2,3,4,5,6,7,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17179,17180,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17180,17181,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17181,17182,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17182,17183,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17183,17184,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Load Test Dataset
df_test=pd.read_csv('csv/test_tfidf_features.csv')
df_test

,id,0,1,2,3,4,5,6,7,8,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,17185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17189,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4291,21476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4292,21477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4293,21478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4294,21479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4295,21480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h7>DATA PREPROCESSING</h7>

In [16]:
# Data Reformat
df_train_dropped=df_train.drop(['id','label'], axis=1); # Dropping columns 'id' and 'label' from dataframe df_train and assigning it to df_train_dropped
df_y=df_train['label']; # extracting labels from dataframe df_train and setting it to df_y
df_test_dropped = df_test.drop(['id'], axis=1); # Dropping column 'id'from df_test dataframe

In [17]:
# Transform X and y to numpy arrays
X = df_train_dropped.to_numpy()
y = df_y.to_numpy()
X_test = df_test_dropped.to_numpy()

In [18]:
display(pd.DataFrame(X))

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<h4> TASK 3 </h4>

In [ ]:
# Normalize the feature data
X = normalize(X,axis=1)
X_test = normalize(X_test,axis=1)

In [19]:
# Train_test_split data with PCA (dimensionality reduction) to reduce code running time for initial model performance selection

pca = PCA(n_components = 500)
X_embedded = pca.fit_transform(X)
X_embedded_test = pca.transform(X_test)

X_train_PCA, X_test_PCA, y_train_PCA, y_test_PCA = train_test_split(
    X_embedded, y, test_size=0.2, stratify=y, random_state=0
)

In [ ]:
# Train_test_split data for initial model performance selection

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=0
)

<h3><u>Model: GradientBoostingClassifier Pipeline<u></h3>

In [ ]:
scaler = StandardScaler()
pca = PCA()
gbc = GradientBoostingClassifier(random_state=0)

model = Pipeline(steps=[("scaler", scaler), ("pca", pca), ("gbc", gbc)])

<h5>Hyperparameter Tuning with GridSearchCV</h5>

In [ ]:
# Parameters checked
param_grid = {
    "pca__n_components": [100, 500, 1000, 2000],
    "gbc__n_estimators": [50,100,200],
    "gbc__learning_rate": [1,0.1,0.01],
    "gbc__max_depth": [1,2,3]
}

In [ ]:
clf = GridSearchCV(model, param_grid, n_jobs=-1)
clf.fit(X_train, y_train)

<h5>Scoring</h5>

In [ ]:
y_preds = clf.predict(X_test)
print("F1 Macro Score:",f1_score(y_test, y_preds, average='macro'))
print("Accuracy Score:",accuracy_score(y_test, y_preds))

<h5>Best Classifier</h5>
gbc__learning_rate: 0.1<br> gbc__max_depth: 3<br> gbc__n_estimators: 200<br> pca__n_components: 2000

<h5>Training</h5>

In [ ]:
scaler = StandardScaler()
pca = PCA(n_components=2000)
gbc = GradientBoostingClassifier(n_estimators=200, learning_rate=0.1, max_depth=3, random_state=0)

model = Pipeline(steps=[("scaler", scaler), ("pca", pca), ("gbc", gbc)]).fit(X, y)

<h5>Predictions</h5>

In [ ]:
output = pd.DataFrame(clf.predict(X_test)).set_index(df_test["id"])
output
# output.to_csv("output_GBC.csv")

<h3><u>Model: ExtraTreesClassifier<u></h3>

In [ ]:
model = ExtraTreesClassifier(n_jobs=-1, random_state=0)

<h5>Hyperparameter Tuning with RandomizedSearchCV</h5>

In [ ]:
# Parameters checked
params_grid = {
    'n_estimators':[100, 200, 300, 400, 500],
    'criterion': ['gini', 'log_loss', 'entropy'],
    'bootstrap': [True, False],
    'max_features': ['log2', 'sqrt'],
    'min_samples_leaf': [1, 2, 4],
    'min_samples_split': [2, 5, 10],
}

In [ ]:
clf = RandomizedSearchCV(model, params_grid, cv=3, n_iter=100, n_jobs=-1, scoring='f1_macro')
clf.fit(X_train, y_train)

<h5>Scoring</h5>

In [ ]:
y_preds = clf.predict(X_test)
print("F1 Macro Score:",f1_score(y_test, y_preds, average='macro'))
print("Accuracy Score:",accuracy_score(y_test, y_preds))

<h5>Best Classifier</h5>
 n_estimators:       500<br>
 min_samples_split:  10<br>  
 min_samples_leaf:   1<br>  
 max_features:       'sqrt'<br>  
 criterion:          'entropy'<br>  
 bootstrap:          False

<h5>Training</h5>

In [ ]:
model = ExtraTreesClassifier(
    n_estimators=500, 
    min_samples_split=10, 
    min_samples_leaf=1, 
    max_features='sqrt', 
    criterion='entropy', 
    bootstrap=False,
    n_jobs=3,
    random_state=0
).fit(X, y)

<h5>Predictions</h5>

In [ ]:
output = pd.DataFrame(clf.predict(X_test)).set_index(df_test["id"])
output
output.to_csv("output_ETC.csv")